name: Cache Example

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Restore cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-d31059b

      - name: prime-cache-d31059b
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"
